body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 700px;
    border: 1px solid #AFAFAF;
    padding: 15px;
    border-radius: 3px;
}

.flex {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 15px;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #AFAFAF;
    border-radius: 3px;
}

p {
    color: #AFAFAF;
    margin-top: 0px;
    font-weight: 500;
}

#result {
    list-style: none;
    border: 1px solid #AFAFAF;
    margin-top: 0px;
    color: #5d5c5c;
}

option {
    padding: 10px;
    border-top: 1px solid #AFAFAF;
}

option:hover {
    background-color: #2569c2;
    color: white;
}